<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium_Demo" parallel="methods">
	<test name="DataDrivenFramework">
		<classes>
			<class name="Test.TestCases" />
		</classes>
	</test> <!-- Test -->
	<test name="LearningDemos">
		<classes>
			<class name="Demos.Frames" />
			<class name="Demos.WindowHandling_Class" />
			<class name="Demos.AlertClass" />
			<class name="Demos.MouseActions" />
		</classes>
	</test>
</suite> <!-- Suite -->
